:root {
    --main-bg-color:#002f49;
}

.head {
    background: var(--main-bg-color);
    color: #fff
}
.destaque{
    background-color: var(--main-bg-color);
    color: #fff;
}
li{
    column-gap: 5px;
}
/* CSS PARA DISPOSITIVOS GRANDES */
@media screen and (min-width: 1080px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}